.default-color0.chart-line-symbol { -fx-background-color: red, white; }
.default-color1.chart-line-symbol { -fx-background-color: blue, white; }
.default-color2.chart-line-symbol { -fx-background-color: yellow, white; }
.default-color3.chart-line-symbol { -fx-background-color: pink, white; }
.default-color4.chart-line-symbol { -fx-background-color: green, white; }
.default-color5.chart-line-symbol { -fx-background-color: khaki, white; }
.default-color6.chart-line-symbol { -fx-background-color: brown, white; }
.default-color7.chart-line-symbol { -fx-background-color: black, white; }

.default-color0.chart-series-line { -fx-stroke: red; }
.default-color1.chart-series-line { -fx-stroke: blue; }
.default-color2.chart-series-line { -fx-stroke: yellow; }
.default-color3.chart-series-line { -fx-stroke: pink; }
.default-color4.chart-series-line { -fx-stroke: green; }
.default-color5.chart-series-line { -fx-stroke: khaki; }
.default-color6.chart-series-line { -fx-stroke: brown; }
.default-color7.chart-series-line { -fx-stroke: black; }
