.chart-series-line {
    -fx-stroke-width: 0.5;
}

.default-color0.chart-series-line {
    -fx-stroke: red;
}

.default-color1.chart-series-line {
    -fx-stroke: blue;
}

.default-color2.chart-series-line {
    -fx-stroke: yellow;
}

.default-color3.chart-series-line {
    -fx-stroke: pink;
}

.default-color4.chart-series-line {
    -fx-stroke: green;
}

.default-color5.chart-series-line {
    -fx-stroke: khaki;
}

.default-color6.chart-series-line {
    -fx-stroke: brown;
}

.default-color7.chart-series-line {
    -fx-stroke: black;
}
